<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- Include  Core Configuration-->
  <include uri="assembly://Hudson.Core/Hudson.Configuration.Core.config" />

  <components>

    <!-- Tray Icon Presenter (for Windows XP and Vista) -->
    <component id="TrayPresenter" type="Hudson.Tray.Presenters.TrayPresenter, Hudson.Tray" lifestyle="transient" />

    <!-- Superbar Presenter (for Windows 7) -->
    <component id="SuperbarPresenter" type="Hudson.Tray.Presenters.SuperbarPresenter, Hudson.Tray" lifestyle="transient" />

    <!-- HTTP Security Context -->
    <component id="Context" type="Hudson.Tray.Presenters.Context, Hudson.Tray" service="Hudson.Interfaces.IContext, Hudson.Core" lifestyle="transient" />
    
  </components>
  
</configuration>