<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <components>

    <!-- Services -->
    <component id="ServerService" type="Hudson.Services.ServerService, Hudson.Core" service="Hudson.Interfaces.Services.IServerService, Hudson.Core" lifestyle="transient" />
    
    <component id="BuildService" type="Hudson.Services.BuildService, Hudson.Core" service="Hudson.Interfaces.Services.IBuildService, Hudson.Core" lifestyle="transient" />
    
    <component id="JobService" type="Hudson.Services.JobService, Hudson.Core" service="Hudson.Interfaces.Services.IJobService, Hudson.Core" lifestyle="transient">
      <parameters>
        <BuildService>${BuildService}</BuildService>
      </parameters>
    </component>
    
    <component id="XmlService" type="Hudson.Services.XmlService, Hudson.Core" service="Hudson.Interfaces.Services.IXmlService, Hudson.Core" lifestyle="transient">
      <parameters>
        <Context>${Context}</Context>
      </parameters>
    </component>

    <!-- Caching -->
    <component id="BuildCache" type="Hudson.Caching.BuildCache, Hudson.Core" />

  </components>

</configuration>