html, body
{
	font-family: Georgia, "Times New Roman", Sans-Serif;	
	height: 100%;
	padding: 0;
	margin: 0;
	width: 100%;
}
h1 {	
	background: #fff url(../images/hudson.png) no-repeat 0 10px;
	border-bottom: solid 1px #ccc;
	border-top: solid 5px #ccc;
	color: #0B6CFF;
	height: 74px;
	line-height: 80px;
	padding: 0 0 5px 76px;
	margin: 0 0 10px 0;
}
a, a:visited {
	color: #0B6CFF;
}
p
{
	clear: both;
	height: 12%;
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 200%;
	font-weight: bold;
	line-height: 100%;
	padding: 0;
	margin: 0;
	vertical-align: middle;
}
fieldset {
	border: none;
	padding: 0;
}
fieldset label {
	display: inline-block;
	width: 150px;
}
fieldset p {
	font-family: Georgia, "Times New Roman", Sans-Serif;
	font-size: 18px;
	font-weight: normal;
	height: 32px;
	line-height: 32px;
	vertical-align: middle;
}
fieldset input {
	border: solid 1px #ccc;
	font-family: Georgia, "Times New Roman", Sans-Serif;
	font-size: 18px;	
	width: 250px;
}
fieldset .btn {
	margin: 20px 0 5px;
	padding-left: 154px;
}
fieldset .btn input {
	width: 80px;
}
fieldset .info-text {
	margin-bottom: 10px;
}
.container {
	border: solid 1px #ccc;
	padding: 10px;
	overflow: visible;
	margin: 150px auto 0;
	width: 500px;
}
.error-text {
	color: #f00;
}
.label
{
	display: block;
	float: left;
	overflow: hidden;
	width: 40%;
}
.info
{
	display: block;
	float: left;
	width: 59%;
}
.double
{
	height: 24%;
}
.passed {
	background-color: #139C00;
	color: #fff;
}
.failed {
	background-color: #D10000;
	color: #fff;
}
.unknown {
	background-color: #757575;
	color: #fff;
}
.building {
	background-color: #FF8A00;
	color: #fff;	
}
.error {
	background-color: #000;
	color: #fff;
}
.error p
{
	height: 48px;
	font-size: 48px !important;
	margin-top: 200px;
	text-align: center;
}
.about {
	color: #666;
	font-size: 10px;	
	margin: 10px auto;
	text-align: right;
	width: 520px;
}
.about a {
	color: #666;
}
.status {
	padding-left: 32px;
}
fieldset .passed {
	background: Transparent url(/images/passed.png) no-repeat 2px 4px;
}
fieldset .failed {
	background: Transparent url(/images/failed.png) no-repeat 2px 4px;
}
fieldset .unknown {
	background: Transparent url(/images/unknown.png) no-repeat 2px 4px;
}
fieldset .building {
	background: Transparent url(/images/building.png) no-repeat 2px 4px;
}