html, body
{
	height: 100%;
	padding: 0;
	margin: 0;
	width: 100%;
}
h1 {
	background: #fff url(../images/hudson.png) no-repeat;
	height: 64px;
	line-height: 64px;
	padding-left: 76px;
}
p
{
	clear: both;
	height: 12%;
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 200%;
	font-weight: bold;
	line-height: 100%;
	padding: 0;
	margin: 0;
	vertical-align: middle;
}
fieldset {
	border: none;
	padding: 0;
}
fieldset label {
	display: inline-block;
	width: 150px;
}
fieldset p {
	clear: none;
	font-family: Georgia, "Times New Roman", Sans-Serif;
	font-size: 18px;
	font-weight: normal;
	height: 32px;
	line-height: 32px;
	vertical-align: middle;
}
fieldset input {
	width: 250px;
}
fieldset .btn {
	margin: 10px 0 0 154px;
	width: 64px;	
}
fieldset .info-text {
	margin-bottom: 10px;
}
.container {
	margin: 150px auto 0;
	width: 500px;
}
.error-text {
	color: #f00;
}
.label
{
	display: block;
	float: left;
	overflow: hidden;
	width: 40%;
}
.info
{
	display: block;
	float: left;
	width: 59%;
}
.double
{
	height: 24%;
}
.passed {
	background-color: #139C00;
	color: #fff;
}
.failed {
	background-color: #D10000;
	color: #fff;
}
.unknown {
	background-color: #757575;
	color: #fff;
}
.building {
	background-color: #FF8A00;
	color: #fff;	
}
.error {
	background-color: #000;
	color: #fff;
}
.error p
{
	height: 48px;
	font-size: 48px !important;
	margin-top: 200px;
	text-align: center;
}