<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- Include  Core Configuration-->
  <include uri="assembly://Hudson.Core/Hudson.Configuration.Core.config" />

  <components>

    <!-- Controllers -->
    <component id="HomeController" type="Hudson.Web.Controllers.HomeController, Hudson.Web" lifestyle="transient">
      <parameters>
        <HudsonServer></HudsonServer>
        <Job></Job>
      </parameters>
    </component>

    <!-- HTTP Security Context -->
    <component id="Context" type="Hudson.Web.Controllers.Context, Hudson.Web" service="Hudson.Interfaces.IContext, Hudson.Core" lifestyle="transient">
      <parameters>
        <Username></Username>
        <Password></Password>
      </parameters>
    </component>
    
  </components>

</configuration>